.header {
    width: 100%;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo img {
    width: 173px;
    height: 57px;
    z-index: 11;
}

.nav {

}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vh 40px;
    height: 100%;
}

.nav__item {

}

.nav__link {
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: -1;
}

.nav__link:hover::before {
    opacity: 1;
}

/* ______________________________ */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
    background-color: transparent;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--text-color);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    position: absolute;
    content: '';

}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.page--opened-menu .burger-icon span {
    background-color: white;
}

.page--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.page--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* ______________________________ */

.header__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    gap: 30px;
    padding: 50px 20px 140px 20px;
}

.header__content-left-side {
    max-width: 520px;
}

.header__info {
    color: #B197B2;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header__info span {
    display: flex;
    align-items: center;
}

.header__info span::after {
    content: '';
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    display: block;
}

.header__info span:last-child::after {
    content: none;
}

.dot {

}

.header__title {
    margin-bottom: 30px;
}

.header__title-text {
    margin-bottom: 40px;
    max-width: 358px;
}

.header__link-button {
    max-width: 358px;
    color: var(--text-color);
}

.header__content-right-side {
    position: relative;
    margin-right: 247px;
    color: var(--text-color);
}

.header__content-right-side img {

}

.header__content-play-link {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    text-align: left;
}

.header__content-play-link--mobile {
    display: none;
}

.header__content-play-link-button {
    background-color: #FFE0CB;
    box-shadow: 0 4px 20px rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.header__content-play-link-button:before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    inset: 5px;
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.header__content-play-link-button:hover:before {
    opacity: 1;
}

.header__content-play-link-button img {
    padding-left: 8.8%;
}