div {
    color: green;
}

.block {
    color: red;
}

#id-block {
    color: rgb(132, 0, 255);
}

[data-example] {
    color: brown;
}

[data-example="value2"] {
    color: rgb(128, 49, 98);
}

.block3, .block4, .block5 {
    color: rgb(255, 242, 0);
}

div.blue-block {
    color: blue;
}

div .orange {
    color: orange;
}

.parent>.child {
    color: rgb(0, 221, 255);
}