* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(28,28,28,1);
}

h1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
  1px 6px 1px #919191,
  1px 7px 1px #919191,
  1px 8px 1px #919191,
  1px 9px 1px #919191,
  1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.heading::after, .button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading {
  opacity: 0;
  visibility: hidden;
}

/* =================================== */
.block {
  position: sticky;
  color: white;
}

.privacy h2 {
  font-size: 16px;
}
.privacy p {
  font-family: serif;
}
.privacy ul {
  text-decoration: none;
}

/* =================================== */
.contacts {
  background: #2c79ff;
}

.button {
  background: #d52cff;
}

@media (max-width: 768px) {
  .contacts {
    background: brown;
  }
}
/* =================================== */
.testimonials {
  background-color: #000;
  background-repeat: no-repeat;
}
.testimonials__heading {
  color: #fff;
}
.testimonials__heading--color-blue {
  color: blue;
}
.testimonials--modificator {
  color: #fff;
}
.testimonials ul {
  padding-top: 20px;
}
.testimonials .webp {
  display: none;
}
@media screen and (max-width: 1000px) {
  .testimonials {
    background-color: #fff;
    background-repeat: no-repeat;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  .testimonials {
    color: #fff;
  }
}
/* =================================== */
.slider {
  position: relative;
  width: 600px/1100px;
}
.slider::after {
  position: absolute;
  top: 20%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-2 {
  position: relative;
  background: "some some";
}
.slider-2::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* =================================== */
.element {
  background: brown8d;
}

/* =================================== */