* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(28,28,28,1);
  padding: 30px;
  font-size: 18px;
}

.firstContainer {
  background-color: #433C3B;
}

.firstContainer_text {

  color: white;
}

.firstContainer_text_end {
  color: #C49EF8;
}

.firstContainer_block {
  background-color: #F64243;
  height: 100px;
  width: 100px;
}

.secondContainer {
  background-color: #C49EF8;
  width: 300px;
}

.secondContainer_text {

}

.secondContainer_element {
  background-color: #7342B6;
  color: white;
}