body {
    background-color: #181E34;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.mainContainer {
    width: 1440px;
}

/* ___________________________________________________ header styles start _________________________________________  */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 36px 0;
}

.headerContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 900px;
}

.logo {
    width: 48px;
    height: 48px;
}

.headerContentContainer nav {
    display: flex;
}

.headerContentContainer ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

.headerContentContainer ul a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.headerContentContainerButton {
    padding: 14px 30px;
    background-color: white;
    width: 113px;
    height: 48px;
    border-radius: 40px;
    color: #2766AE;
    text-transform: capitalize;
    margin-left: 34px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ___________________________________________________ header styles end ___________________________________________  */

/* ___________________________________________________ main styles start ___________________________________________  */
main {
    display: flex;
    flex-direction: column;
}

.firstContainer {
    background: url("assets/background_1.png");
    height: 508px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.header {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.firstContainerContent {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 60px;
}

.firstContainerContentLeft {
    width: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.firstContainerContentLeft p {
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.firstContainerContentLeft span {
    color: #01A2CB;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
}

.firstContainerContentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    width: 320px;
    height: 56px;
    border-radius: 100px;
}

.mainButtonWithIcon {
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 320px;
    height: 56px;
    border-radius: 100px;
    background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
}

.mainButtonWithIcon img {
    width: 16px;
    height: 16px;
}

.secondContainer {
    display: flex;
    justify-content: center;
    height: 808px;
    padding: 120px 0;
}

.secondContainerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.secondContainerContent p {
    width: 513px;
    height: 48px;
    margin-top: 15px;
    text-align: center;
    line-height: 24px;
}

.secondContainerContent button {
    margin-top: 30px;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 204px;
    height: 141px;
    border-radius: 16px;
    border: 2px solid #176BAE;
    background: #197CB8;
    box-shadow: 4px 4px 13px 0 rgba(11, 15, 30, 0.79);
    padding: 28px;
}

.item h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.item p {
    width: 144px;
    height: 48px;
    text-align: center;
    line-height: 24px;
}

/* ___________________________________________________ main styles end _____________________________________________  */

/* ___________________________________________________ footer styles start _________________________________________  */

footer {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    height: 361px;
    border-top: 1px solid #323952;
}

.footerContainer {
    width: 900px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 811px;
    height: 241px;
}

.firstFooterBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 267px;
    height: 159px;
}

.firstFooterBlock {
    line-height: 24px;
}

.alignFooterContainer {
    width: 347px;
    display: flex;
    justify-content: space-between;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 115px;
    height: 241px;
}

.footerColumn ul {
    height: calc(100% - 47px);
}

.footerColumn li {
    margin-bottom: 10px;
    line-height: 24px;
}

footer h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* ___________________________________________________ footer styles end ___________________________________________  */

