%defaults {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin pos($top: 50, $left: 50) {
  position: absolute;
  top: #{$top + "%"};
  left: #{$left + "%"};
  transform: translate(-50%, -50%);
}