body {
    background-color: #1e1e20;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper img {
    animation: appearing 2s;
    border-radius: 10px;
}

@keyframes appearing {
    from {
        margin-top: -400px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}



