body {
    background-color: #181E34;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 70px;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    position: relative;
}

.title::before,
.title::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    top: -10px;
}

.title::before {
    left: -150px;
    background: rgb(246, 78, 78);
}

.title::after {
    right: -150px;
    background: rgb(82, 82, 238);
}